FreeTimeInSunday/.vscode/settings.json
FreeTimeInSunday/Library/*
FreeTimeInSunday/Temp/*
FreeTimeInSunday/Logs/*
FreeTimeInSunday/Packages/*
FreeTimeInSunday/UserSettings/*
FreeTimeInSunday/Assembly-CSharp.csproj
FreeTimeInSunday/Assembly-CSharp-firstpass.csproj
FreeTimeInSunday/FreeTimeInSunday.sln
FreeTimeInSunday/Assets/Plugins/*
FreeTimeInSunday/ProjectSettings/*
FreeTimeInSunday/Assets/Settings/*
FreeTimeInSunday/Assets/Library/*
.DS_Store
